body{
  background-color: grey;
}
header {
  background-color: rgb(44, 42, 42);
}
p {
  text-align: center;
  font-family: fantasy;
}
a {
  color: white;
}
nav {
  background-color: sandybrown;
  color: white;
  padding: 10px 0;
  align-content: right;
}

nav a {
  text-align: inherit;
  color: white;
  margin-top:100px;
}
h1 {
  font-family: fantasy;
  text-align: center;
}

h2 {
  font-family: fantasy;
  text-align: center;
}

h3 {
  font-family: fantasy;
  text-align: center;
}

h4 {
  font-family: fantasy;
  text-align: center;
}

html {
  text-align: center;
}
