.jumbotron {
  background-color: grey;
}
body{
  background-color: grey;
}
header {
  background-color: rgb(44, 42, 42);
}
p {
  text-align: center;
}
a {
  color: white;
}
nav {
  background-color: rgb(65, 62, 62);
  color: white;
  padding: 10px 0;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

nav a {
  text-align: inherit;
  color: white;
  margin-top:100px;
  margin-left: 50px;
}
h1 {
  font-family: fantasy;
  text-align: center;
}

h2 {
  font-family: fantasy;
  text-align: center;
}

h3 {
  font-family: fantasy;
  text-align: center;
}

h4 {
  font-family: fantasy;
  text-align: center;
}

html {
  text-align: center;
}
.name {
  color: white;
}