@{
  Layout = "_Layout";
}
@using Factory.Models;


<h1>Welcome To The Factory</h1>

<p class="titles">Currently Employed Engineers</p>
@foreach (Engineer engineer in @Model["engineers"])
{
  <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", new { id = engineer.EngineerId })</li> 
}
<br>
<p class="titles">All Machines</p>

@foreach (Machine machine in @Model["machines"])
{
  <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId })</li>
}

<br>
